<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info" >
    <div class="panel-heading">
      <div class="panel-title">Sign In</div>
      <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
    </div>

    <div style="padding-top:30px" class="panel-body">

      <form id="loginform" class="form-horizontal" role="form">

        <div style="margin-bottom: 25px" class="form-group">
          <label for="email" class="col-md-3 control-label">Email</label>
          <div class="col-md-8">
            {{input input=(action 'hideMessage') type="text" class="form-control" value=email placeholder="email"}}
            {{#if badEmail}}
              <small style="color: red;">{{errorMessage}}</small>
            {{/if}}
          </div>
        </div>

        <div style="margin-bottom: 25px" class="form-group">
          <label for="email" class="col-md-3 control-label">Password</label>
          <div class="col-md-8">
            {{input input=(action 'hideMessage') type="password" class="form-control" value=password placeholder="password"}}
            {{#if badPassword}}
              <small style="color: red;">{{errorMessage}}</small>
            {{/if}}
          </div>
        </div>

        <div style="margin-top:10px" class="form-group">
          <div class="col-md-offset-3 col-sm-12 controls">
            <button {{action "signIn" "password"}} class="btn btn-success">Login</button>
            <button {{action "signIn" "google"}} class="btn btn-info">Login with Google</button>
          </div>
        </div>

        <div class="form-group">
          <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
          <div class="col-md-offset-3 col-md-12 control">
              Don't have an account! 
              <a>{{#link-to 'signup'}}Sign Up Here{{/link-to}}</a>
            </div>
          </div>
        </div>

      </form><!-- form -->

    </div>
  </div>
</div>
