<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">                    
  <div class="panel panel-info" >
    <div class="panel-heading">
      <div class="panel-title">Sign In</div>
      <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
    </div>

    <div style="padding-top:30px" class="panel-body">

      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

      <form id="loginform" class="form-horizontal" role="form">

        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          {{input id="login-email" type="text" class="form-control" value=email placeholder="email"}}
        </div>

        <div style="margin-bottom: 25px" class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          {{input id="login-password" type="password" class="form-control" value=password placeholder="password"}}
        </div>

        <div style="margin-top:10px" class="form-group">
          <!-- Button -->
          <div class="col-sm-12 controls">
            <button {{action "signIn" "password"}} class="btn btn-success">Login</button>
            <button {{action "signIn" "google"}} class="btn btn-info">Login with Google</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 control">
            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
              Don't have an account! 
              <a>{{#link-to 'regist'}}Sign Up Here{{/link-to}}</a>
            </div>
          </div>
        </div>

      </form><!-- form -->

    </div>
  </div>
</div>
{{!-- <button {{action "signIn" "google"}} class="btn btn-success">Sign in with Google</button> --}}
