{{#if session.isAuthenticated}}
  {{liquid-outlet class="new-container"}}
  <h1>Tasks</h1>
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <form class="search-form">
        <div class="form-group has-feedback">
        <label for="search" class="sr-only">Search</label>
        {{input type="text" value=searchTerm class="form-control" placeholder="search"}}
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </form>
    </div>
  </div>
  {{#if taskNotFound}}
      <li class="list-group-item empty-list">
      <div class="empty-message">
        Task not Found.
      </div>
    </li>
  {{/if}}
  {{#each matchingTasks as |task|}}
    <div class="well task">
      {{#liquid-if task.isEditing class="task-edit"}}
        {{paper-input flex=30 required=true label="Title" value=task.title onChange=(action (mut task.title))}}
        {{paper-input flex=true label="Due date" type="date" value=task.dueDate onChange=(action (mut task.dueDate))}}
        {{paper-switch label="Description" value=task.showDescription onChange=(action (mut task.showDescription))}}
        {{#if task.showDescription}}
          {{paper-input textarea=true block=true label="Description" passThru=(hash rows=3 maxRows=3)
            value=task.description onChange=(action (mut task.description))}}
        {{/if}}
        {{paper-switch label="Location" value=task.showLocation onChange=(action (mut task.showLocation))}}
        {{#if task.showLocation}}
          {{g-autocomplete class="autocomplete" size='60' value=task.location on-select=(action 'didUpdatePlace' task)}}
        {{/if}}
        {{paper-switch label="Google Map" value=task.showMap onChange=(action (mut task.showMap))}}
        {{#if task.showMap}}
          {{g-maps name="my-map" lat=task.position.lat lng=task.position.lng zoom=zoom markers=task.markers}}
        {{/if}}
      {{else}}
        <h3>{{task.title}}</h3>
        <h4>Due: {{moment-format task.dueDate timeZone='Canada/Toronto'}}</h4>
        <h5>
          It is due <strong>{{moment-from-now task.dueDate timeZone='Canada/Toronto'}}</strong>
        </h5>
        {{#if task.description}}
          <p>{{task.description}}</p>
        {{/if}}
        {{#if task.location}}
          <p>Location: {{task.location}}</p>
          {{paper-switch label="Google Map" value=task.showMap onChange=(action (mut task.showMap))}}
          {{#if task.showMap}}
            {{g-maps lat=task.position.lat lng=task.position.lng zoom=zoom markers=task.markers}}
          {{/if}}
        {{/if}}
      {{/liquid-if}}
       <div class="button-group">
        {{#if task.isEditing}}
          {{paper-button raised=true label="Save" onClick=(action "save" task)}}
        {{else}}
          {{paper-button raised=true label="Edit" onClick=(action "edit" task)}}
        {{/if}}
        {{#paper-button warn=true raised=true onClick=(action "deleteTask" task.id)}}Delete{{/paper-button}}
      </div>
    </div>
  {{/each}}
  {{#unless noTasks}}
    <li class="list-group-item empty-list">
      <div class="empty-message">
        There are no tasks yet. Do you need to {{#link-to 'tasks.new'}}create one{{/link-to}}?
      </div>
    </li>
  {{/unless}}
{{/if}}