{{#if session.isAuthenticated}}
  {{outlet}}
  <h1>Tasks</h1>
  {{#each model as |task|}}
    <div class="well">
      {{#if task.isEditing}}
        <button class="btn btn-primary pull-right" {{action "save" task}}>Save</button>
      {{else}}
        <button class="btn btn-primary pull-right" {{action "edit" task}}>Edit</button>
      {{/if}}

      {{#if task.isEditing}}
        <div class="form-group">
        <label>Title</label>
        {{input type="text" class="form-control" value=task.title
        placeholder="Add Task..."}}
        </div>
        <div class="form-group">
          <label>Due Date</label>
          {{input type="date" class="form-control" value=task.date}}
        </div>
        <div class="form-group">
          <label>Description</label>
          {{textarea type="text" class="form-control" value=task.description
          placeholder="Describe Task..."}}
        </div>
      {{else}}
        <h4>{{task.title}}</h4>
        <h5>Due: {{moment-format task.date timeZone='Canada/Toronto'}}</h5>
        <h6>Time Left: {{moment-from-now task.date timeZone='Canada/Toronto'}}</h6>
        <p>{{task.description}}</p>
      {{/if}}
    </div>
  {{/each}}
{{else}}
  <div class="well">Please Login</div>
{{/if}}