{{#if session.isAuthenticated}}
  <div class="layout-sm-column">
    {{paper-input flex=30 required=true label="Title" value=task.title onChange=(action (mut task.title))}}
    {{paper-input flex=true label="Due date" type="date" value=task.date onChange=(action (mut task.date))}}
    {{paper-switch label="Description" value=showDescription onChange=(action (mut showDescription))}}
    {{#if showDescription}}
      {{paper-input textarea=true block=true label="Description" passThru=(hash rows=3 maxRows=3)
        value=task.description onChange=(action (mut task.description))}}
    {{/if}}
    {{paper-switch label="Location" value=showAutocomplete onChange=(action (mut showAutocomplete))}}
    {{#if showAutocomplete}}
      {{g-autocomplete class="autocomplete" size='60' value=task.location on-select=(action 'didUpdatePlace')}}
    {{/if}}
    {{paper-switch label="Google Map" value=showMap onChange=(action (mut showMap))}}
    {{#if showMap}}
      {{g-maps name="my-map" lat=lat lng=lng zoom=zoom markers=markers}}
    {{/if}}
    {{#paper-button class="pull-right" primary=true raised=true onClick=(action "addTask")}}Submit{{/paper-button}}
  </div>
{{/if}}
