{{#if session.isAuthenticated}}
  <form>
    <div class="form-group">
      <label>Title</label>
      {{input type="text" class="form-control" value=task.title
      placeholder="Add Task..."}}
    </div>
    <div class="form-group">
      <label>Due Date</label>
      {{input type="date" class="form-control" value=task.date
      placeholder="mm/dd/yyyy"}}
    </div>
     <div class="form-group">
      <label>Description</label>
      {{textarea type="text" class="form-control" value=task.description
      placeholder="Describe Task..."}}
    </div>
    <div class="form-group">
      {{paper-switch label="Location" value=showAutocomplete onChange=(action (mut showAutocomplete))}}
      {{#if showAutocomplete}}
        {{g-autocomplete class="autocomplete" size='45' value=task.location on-select=(action 'didUpdatePlace')}}
      {{/if}}
      {{paper-switch label="Google Map" value=showMap onChange=(action (mut showMap))}}
      {{#if showMap}}
        {{g-maps name="my-map" lat=lat lng=lng zoom=zoom markers=markers}}
      {{/if}}
    </div>
    <button {{action 'addTask'}} class="btn btn-primary">Submit</button>
  </form>
{{/if}}
